@using FinPlus.Presentation.Models;
@model List<TraferModel>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styletable.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylebtn.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="header">Рефоводы</div>
        <div class="search-form">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div>
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ФИО</th>
                        <th>Всего приведено</th>
                        <th>Всего заработано</th>
                        <th>Прибыль в текущем месяце</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trafer in Model)
                    {
                        <tr>
                        <td>@trafer.ReferalId</td>
                        <td>@trafer.Name.ToString()</td>
                        <td>@trafer.MyDrops.Count()</td>
                        <td>@trafer.Revenue</td>
                        <td>@trafer.ProfitInMonth</td>
                        <td>
                            <a class="nav-link text-secondary" asp-controller="Trafer" asp-action="EditTrafer" asp-route-id="@trafer.Id">Ред.</a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="nav-link text-secondary" asp-controller="Trafer" asp-action="AddTrafer">Добавить+</a>
        </div>
    </div>
</body>
</html>

